
:root{
    --color-barra-lateral: rgba(0,72,154,255);
    
    --color-texto: rgb(0,0,0);
    --color-texto-menu: rgb(255,255,255);

    --color-menu-hover:rgb(238,238,238);
    --color-menu-hover-texto: rgb(0,0,0);

    --color-boton: rgb(0,0,0);
    --color-boton-texto: rgb(255,255,255);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background-color: rgba(250,250,250,255);
}
.barra-lateral{
    position: fixed;
    width: 250px;
    height: 100%;
    overflow: hidden;
    padding: 20px 15px;
    background-color: var(--color-barra-lateral);
    transition: width 0.5s ease;
}
.mini-barra-lateral{
    width: 80px;
}
.barra-lateral span{
    width: 100px;
    white-space: nowrap;
    font-size: 18px;
    text-align: left;
    opacity: 1;
    transition: opacity 0.5s ease, width 0.5 ease;
}
.barra-lateral span.oculto{
    opacity: 0;
    width:0;
 }

 /*----------> Nombre de la pagina */
.barra-lateral .nombre-pagina{
    width: 100%;
    height: 45px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}
.barra-lateral .nombre-pagina ion-icon{
    min-width: 50px;
    font-size: 40px;
    cursor: pointer;
}
.barra-lateral .nombre-pagina span{
    font-size: 25px;
    margin-left: 5px;
}



/*boton*/
.barra-lateral .boton{
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background-color: var(--color-boton);
    color: var(--color-boton-texto);
}
.barra-lateral .boton ion-icon{
    min-width: 50px;
    font-size: 25px;
}


/*--------Menu de navegacion*/
.barra-lateral .navegacion li{
    list-style: none;
    display: flex;
    margin-bottom: 16px;
}
.barra-lateral .navegacion a{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    background-color: var(--color-barra-lateral);
    color: var(--color-texto-menu)
}
.barra-lateral .navegacion a:hover{
    background-color: var(--color-menu-hover);
    color: var(--color-menu-hover-texto);
}

.barra-lateral .navegacion ion-icon{
    min-width: 50px;
    font-size: 20px;
}

.barra-lateral .navegacion a:hover img {
    filter: brightness(0%);
}



label{
    margin: 8px;
}

/*------------ Main ------------*/
main{
    margin-left: 250px;
    padding: 30px;
    transition: margin-left 0.5s ease;
}
main.min-main{
    margin-left: 80px;
}
